@media screen and (max-width: 1295px)
  .nav
    &__item
      margin-right: 1.5rem
@media screen and (max-width: 1200px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and (max-width: 1100px)
  .section
    &-title
      &__text
        max-width: 28rem
        font-size: 1.2rem
        line-height: 1.5rem
  .swiper
    &-slide
      &__text
        margin-bottom: 1.3rem
      &__heading
        font-size: 1rem

  
@media screen and (max-width: 992px)
  .logo
    font-size: 1rem
  .nav
    &__item
      margin-right: 1.5rem;
      font-size: 0.8rem
  .contacts
    &__phone
    margin-right: 0
    font-size: 1rem
  .contacts
    &__button
      display: none
  .hero
    &__content
      max-width: 38rem
    &__text
      font-size: 1.5rem
      margin-bottom: 3rem
    &__button
      min-width: 15rem
  .col
    &-45
      width: 55%
    &-55
      width: 45%
  .footer
    &__text
      &:hover
        display: none
    &__link
      &-hover
        display: none
    &__map
      max-width: 50rem
      max-height: 30rem

@media screen and (max-width: 768px)
  .nav
    display: none
  .contacts
    &__phone
      margin-right: 1rem
      color: $light
      text-decoration: none
    &__button
      padding: 1rem
  .title
    font-size: 2rem
  .hero
    &__content
      max-width: 30rem
    &__instagram
      display: none
    &__text
      font-size: 1.4rem
    &__button
      display: block
      margin-bottom: 2rem
      font-size: 1.1rem
  .design
    &__pricetag
      padding: 1rem 2rem    
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types, .design
    &__card
      margin-bottom: 6.76rem
  .card
    &__text
      margin-left: 0
  .col
    &-45
      width: 100%
  .col
    &-55
      width: 100%
  .section-title
    &__word
      &::after
        display: none
  .swiper
    &-slide
      margin-bottom: 3.3rem
      &__text
        flex-basis: 50%
        margin-bottom: 1.3rem
      &__heading
        font-size: 1.17rem
        margin-bottom: 0.92rem
        &__value
          font-size: 1.15rem
          line-height: 1.6rem
      &__img
        margin: 2.7rem 0 0 0
        width: 28.33rem
        height: 16.83rem
  .footer
    &__map
      max-width: 40rem
  
@media screen and (max-width: 576px)
  html, body
    overflow-x: hidden
  .container
    max-width: 48rem
  .logo
    font-size: 1rem
  .contacts
    &__phone
      margin-right: 0
      font-size: 1rem
    &__button
      display: none
  .title
    font-size: 1.92rem
    line-height: 132.83%
  .hero
    &__content
      margin: 0
      max-width: 28.25rem
    &__instagram
      display: none
    &__title
      margin-bottom: 1rem  
    &__text
      max-width: 26.75rem
      font-size: 1.5rem
      line-height: 135.84%
    &__button
      display: block
      min-width: 28.26rem
      margin-bottom: 2.17rem
      font-size: 1.08rem
    &__scroll-down
      display: none  
  .section-title
    &__heading 
      font-size: 1.83rem
      line-height: 138.6%
      &--primary
        font-size: 1.65rem
        line-height: 150%
        margin-bottom: 2.1rem
    &__text
      margin-bottom: 1.7rem
      max-width: 24.3rem
      font-size: 1.17rem
      line-height: 160%
  .types
    &__section-title
      margin-bottom: 3.2rem         
    &__card
    margin-bottom: 6.8rem
  .card
    min-width: 28.33rem
    &__text
      max-width: 22.5rem
      margin-top: -12.2rem
      padding: 1.66rem 2.55rem
    &__title
      font-size: 1.25rem
      line-height: 138.6%
      margin-bottom: 0.52rem
    &__list
      padding: 0 0 0 1.3rem
      margin: 0 0 1.9rem 0
      font-size: 1.08rem
      line-height: 169.8%
    &__pricetag
      padding: 1rem 2.8rem
      font-size: 1.25rem
  .design
    &__section-title
      color: $light
    &__section-description
      max-width: 25.5rem
      color: $light
      font-size: 1.25rem
      line-height: 135.84%
    &__image
      min-width: 28.33rem
      &::before
        display: none
    &__text
      margin-top: -12.3rem
    &__list
      max-height: 20.08rem
      padding: 0 0 0 1.3rem
      margin: 0 0 2rem 0
    &__pricetag
      padding: 1rem 4rem
  .control
    padding-bottom: 0
    background: $dark
    color: $light
    &__section-title
      margin-bottom: 3.2rem
      margin-top: 0
    &__video
      max-width: 28.33rem
      min-height: 17.25rem
      margin-bottom: 2.3rem
      background-size: cover
    &__text
      max-width: 28.33rem
      margin-bottom: 2.6rem
      font-size: 1.17rem
      line-height: 2.05rem
      &::before
        margin-bottom: 1.1rem
    &__form
      max-width: 28.33rem
      justify-content: center 
    &__input-group
      flex-basis: 100%
      &--bottom
        margin-bottom: 5.2rem
    &__label
      font-size: 1.25rem
      color: rgba($light, 0.5)
    &__input
      font-size: 1.5rem
      &::placeholder
        color: $light   
    &__policy
      margin-top: 1rem
      margin-bottom: 5.3rem
      font-size: 1.33rem
      &-label
        justify-content: flex-start 
    &__button
      margin-bottom: -2.1rem
      padding: 1.42rem 11rem
      order: 1
      font-size: 1.25rem
  .video
    &__play
      max-width: 5.1rem
      max-height: 5.1rem
  .footer
    background: $dark
    &__wrap
      margin-top: 0
      margin-bottom: 1.3rem
      padding: 2.5rem 1.1rem
      background-color: $dark
    &__title
      font-size: 1.67rem
      margin-bottom: 4.6rem
    &__input
      font-size: 1.5rem
      &-group
        flex-basis: 100%
        &--bottom
          margin-bottom: 2rem
        &--full-width
          margin-bottom: 0.5rem
    &__policy
      margin-bottom: 5.8rem
    &__button
      padding: 1.5rem 11.75rem
    &__map
      margin-bottom: 3.5rem
      order: -1
      max-width: 28.33rem
      max-height: 21.25rem
    &__text
      max-width: 26.5rem
      font-size: 1.5rem
    &__link
      width: 39px
      height: 39px
      margin: 0 10px
      padding: 0    
    &__menu
      display: none
  .policy
    &__label
      &--center
        justify-content: flex-start
        font-size: 1.33rem

@media screen and (max-width: 375px)
  .container
    max-width: 30.417rem
    width: 100%
  .hero
    &__content
      margin: 1rem
      max-width: 25rem
    &__text
      max-width: 23rem
      font-size: 1.3rem
    &__button
      display: block
      min-width: 25rem
  .projects
    padding: 2rem

@media screen and (max-width: 350px)
  .control, .footer
    padding: 1rem
    &__button
      padding: 1rem 9rem
  .footer
    &__map
      display: none
    &__text
      font-size: 1rem

@media screen and (min-width: 992px)
  .footer
    &__phone
      &:hover
        color: $light
    &__link
      &:hover
        background: $secondary
        
@media screen and (max-height: 610px)
  .hero
    &__scroll-down
      display: none
      
@media screen and (max-height: 534px)
  .modal
    &__dialog
      height: 100%
      overflow-y: scroll


      
  