@media screen and (max-width: 1295px)
  .nav
    &__item
      margin-right: 1.5rem
@media screen and (max-width: 1200px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and (max-width: 992px)
  .logo
    font-size: 1rem
  .nav
    &__item
      margin-right: 1.5rem;
      font-size: 0.8rem
  .contacts
    &__phone
    margin-right: 0
    font-size: 1rem
  .contacts
    &__button
      display: none
  .hero
    &__content
      max-width: 38rem
    &__text
      font-size: 1.5rem
      margin-bottom: 3rem
    &__button
      min-width: 15rem  
@media screen and (max-width: 768px)
  .nav
    display: none
  .contacts
    &__phone
      margin-right: 1rem
      color: $light
      text-decoration: none
    &__button
      padding: 1rem
  .title
    font-size: 2rem
  .hero
    &__content
      max-width: 30rem
    &__instagram
      display: none
    &__text
      font-size: 1.4rem
    &__button
      display: block
      margin-bottom: 2rem
      font-size: 1.1rem
  .design
    &__pricetag
      padding: 1rem 2rem    
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types, .design
    &__card
      margin-bottom: 6.76rem
  .card
    &__text
      margin-left: 0
  
@media screen and (max-width: 576px)
  html, body
    overflow-x: hidden
  .container
    max-width: 48rem
  .logo
    font-size: 1rem
  .contacts
    &__phone
      margin-right: 0
      font-size: 1rem
    &__button
      display: none
  .title
    font-size: 1.92rem
    line-height: 132.83%
  .hero
    &__content
      margin: 0
      max-width: 28.25rem
    &__instagram
      display: none
    &__title
      margin-bottom: 1rem  
    &__text
      max-width: 26.75rem
      font-size: 1.5rem
      line-height: 135.84%
    &__button
      display: block
      min-width: 28.26rem
      margin-bottom: 2.17rem
      font-size: 1.08rem
    &__scroll-down
      display: none  
  .section-title__heading 
    font-size: 1.83rem
    line-height: 138.6% 
  .types
    &__section-title
      margin-bottom: 3.2rem         
    &__card
    margin-bottom: 6.8rem
  .card
    min-width: 28.33rem
    &__text
      max-width: 22.5rem
      margin-top: -12.2rem
      padding: 1.66rem 2.55rem
    &__title
      font-size: 1.25rem
      line-height: 138.6%
      margin-bottom: 0.52rem
    &__list
      padding: 0 0 0 1.3rem
      margin: 0 0 1.9rem 0
      font-size: 1.08rem
      line-height: 169.8%
    &__pricetag
      padding: 1rem 2.8rem
      font-size: 1.25rem
  .design
    background: $dark
    &__section-title
      color: $light
    &__section-description
      max-width: 25.5rem
      color: $light
      font-size: 1.25rem
      line-height: 135.84%
    &__image
      min-width: 28.33rem
      &::before
        display: none
    &__text
      margin-top: -12.3rem
    &__list
      max-height: 20.08rem
      padding: 0 0 0 1.3rem
      margin: 0 0 2rem 0
    &__pricetag
      padding: 1rem 4rem

@media screen and (max-width: 374px)
  .container
    max-width: 30.417rem
    width: 100%
  .hero
    &__content
      margin: 1rem
      max-width: 25rem
    &__text
      max-width: 23rem
      font-size: 1.3rem
    &__button
      display: block
      min-width: 25rem


@media screen and (max-height: 610px)
  .hero
    &__scroll-down
      display: none
         
      
  